{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array A of strings made only from lowercase letters, return a list of all characters that show up in all strings 
        within the list (including duplicates).  For example, if a character occurs 3 times in all strings but not 4 times, you need 
        to include that character three times in the final answer.
    </p>
    <p class="question">
        You may return the answer in any order.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;string&gt; commonChars(vector&lt;string&gt;& A) {
            
            //1. cycle through each word and count the letters arranged sequentially in a 2D array
            //2. maintain a count of the minimum occurrence of each letter across all words using an extra          
            //row in the counting table to keep track of the minimum
            //3. store numbers of instances of all letters in the result vector that correspond to the
            // minimum count of that letter seen in any given word as recorded from examining all the words
            
            int letter_count[A.size()+1][26] = {{0}};    //all words in A + 1 counting row, 26 letters
            
            for (int h = 0; h &lt; 26; h++)
                letter_count[A.size()][h] = 101;        //set default max value of counter row to be superceded by the letters we count

            for (int i = 0; i &lt; A.size(); i ++){
                
                for (int j = 0; j &lt; A[i].size(); j++)
                    letter_count[i][A[i][j]-'a']++;        //count letters and store wrt each word
                
                for (int k = 0; k &lt; 26; k++)             //keep track of new minimum counts of a letter in any word
                    if (letter_count[i][k] &lt; letter_count[A.size()][k])
                        letter_count[A.size()][k] = letter_count[i][k];
            }
            
            vector&lt;string&gt; charlist;
            string c;
            
            for (int l = 0; l &lt; 26; l++)                       //for each letter in the count row
                for (int m = 0; m &lt; letter_count[A.size()][l]; m++){   //push a quantity of that letter 
                                                                        //equal to the min counted instances
                    c = 'a'+l;
                    charlist.push_back(c);
                }
            
            return charlist;
        }
    };
{% endblock solution_code %}