{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        A conveyor belt has packages that must be shipped from one port to another within D days.
    </p>
    <p class="question">
        The i-th package on the conveyor belt has a weight of weights[i].  Each day, we load the ship with packages 
        on the conveyor belt (in the order given by weights). We may not load more weight than the maximum weight capacity of the ship.
    </p>
    <p class="question">
        Return the least weight capacity of the ship that will result in all the packages on the conveyor belt being shipped within D 
        days.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Set up a binary search with lower bound being the maximum single weight among the packages (capacity must be at least this 
        to deliver all packages) and upper bound being the total weight of the shipment (in the case where we can ship all packages 
        in just one day).
    </p>
    <p>
        Iterate with each iteration searching the lower or upper half of the current range until the range consists of one value, 
        the minimum required capacity.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int shipWithinDays(vector<int>& weights, int D) {
            
            int minc = 0;
            int total = 0;
            
            //Get the upper and lower bounds of the binary search
            for(auto w : weights) {
                minc = max(minc, w);          //Get maximum single weight (capacity must be at least this to ship all)
                total += w;                  //Get total weight of entire shipment (1 day delivery)
            }
            
            while(minc < total) {                      //Increase minc until we reach total or until shipping within D days
                int cap = minc + (total-minc)/2;       //The final cap will be somewhere between the current cap and the total;
                int days = 1;                         //binary search starting at average between cap and total, move up or down 
                int currWeight = 0;                   //as necessary
                
                for(auto w: weights) {               //Count the days
                    if(currWeight + w > cap) {
                        days++;
                        currWeight = 0;
                    }
                    currWeight += w;
                }
                
                if(days > D)                    //If days too long, narrow search to values greater than cap (cap to total)
                    minc = cap+1;
                else
                    total = cap;                //if too short, narrow search to values less than cap (minc to cap)
            }
            
            return minc;
        }
    };
{% endblock solution_code %}