{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a 2D array A, each cell is 0 (representing sea) or 1 (representing land)
    </p>
    <p class="question">
        A move consists of walking from one land square 4-directionally to another land square, or off the boundary of the grid.
    </p>
    <p class="question">
        Return the number of land squares in the grid for which we cannot walk off the boundary of the grid in any number of moves.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    private:
        vector&lt;int&gt; y = {1,-1,0,0};        //Facilitate 4-directional iteration
        vector&lt;int&gt; x = {0,0,1,-1};
        int m, n;
        
    public:
        int numEnclaves(vector&lt;vector&lt;int&gt;&gt;& A) {
            m = A.size();
            n = A[0].size();
            vector&lt;vector&lt;bool&gt;&gt; visited(m,vector&lt;bool&gt;(n,false));
            int cnt = 0;
            for (int i = 1; i &lt; m-1; i++){
                for (int j = 1; j &lt; n-1; j++){        //Iterate over interior cells - exterior cells will not be part of an enclave as defined in the problem
                    if (A[i][j] == 1 && !visited[i][j]){
                        bool isIsland = true;            //Count the size of the landmass, add to cnt if it's an island
                        int newIsland = countIslandSize(A,visited,i,j,isIsland);
                        if (isIsland)
                            cnt += newIsland;
                    }      
                }
            }
            return cnt;
        }
        
        //Count the size of a connected landmass extending from i,j maintaining a boolean to indicate if it is an enclave that doesn't touch the edges of the grid
        int countIslandSize(vector&lt;vector&lt;int&gt;&gt;& A, vector&lt;vector&lt;bool&gt;&gt;& visited, int i, int j, bool& isIsland){
            int size = 1;
            visited[i][j] = true;
            for (int k = 0; k &lt; 4; k++){
                int ii = i + y[k];
                int jj = j + x[k];
                if (ii &lt; 0 || ii >= m || jj &lt; 0 || jj >= n){
                    isIsland = false;
                } else if (A[ii][jj] == 1 && !visited[ii][jj]){
                    int adj = countIslandSize(A,visited,ii,jj, isIsland);
                    size += adj;
                }
            }
            return size;
        }
    };
{% endblock solution_code %}