{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array A of integers, return the length of the longest arithmetic subsequence in A.
    </p>
    <p class="question">
        Recall that a subsequence of A is a list A[i_1], A[i_2], ..., A[i_k] with 0 <= i_1 < i_2 < ... < i_k <= A.length - 1, and 
        that a sequence B is arithmetic if B[i+1] - B[i] are all the same value (for 0 <= i < B.length - 1).
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Use 3D storage and increment existing sequence counts while iterating over all possible subarrays.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int longestArithSeqLength(vector<int>& A) {
            if (A.size() == 1){
                return 1;
            }
            int n = A.size();
            int maxlen = 1;
            unordered_map<int,unordered_map<int,int>> dp;      //map: sequences ending in position number, difference, sequence length
            
            for(int i = 0; i < n; i++){                     //at all possible endpoints
                for(int j = 0; j < i; j++){                 //iterate over all subarray numbers
                    int diff = A[i]-A[j];
                    dp[i][diff] = dp[j][diff]+1;    //if the current number at j is part of an arithmetic sequence with the same difference as the difference between i and j (i.e., we counted it in the map and value != 0) take the existing sequence length and increment by 1
                    maxlen = max(maxlen,dp[i][diff]);        //modify maximum accordingly
                }
            }
            return maxlen+1;                      //add one since we counted the bonds in the sequence, not the elements
        }
    };
{% endblock solution_code %}