{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array A of non-negative integers, return the maximum sum of elements in two non-overlapping (contiguous) 
        subarrays, which have lengths L and M.  (For clarification, the L-length subarray could occur before or after the M-length 
        subarray.)
    </p>
    <p class="question">
        Formally, return the largest V for which V = (A[i] + A[i+1] + ... + A[i+L-1]) + (A[j] + A[j+1] + ... + A[j+M-1]) and either:
    </p>
    <ul>
        <li>0 &lt;= i &lt; i + L - 1 &lt; j &lt; j + M - 1 &lt; A.length, or</li>
        <li>0 &lt;= j &lt; j + M - 1 &lt; i &lt; i + L - 1 &lt; A.length.</li>
    </ul>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Pre-calculate a prefix sum array to enable access to the sum of all elements before any position i in the original vector. 
        Iterate over all possible L-length, continuous sub-array sums; at each iteration, iterate over all possible M-length 
        sub-arrays located before and after the current L array (such that there is no overlap), store the maximum L+M sum found.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int maxSumTwoNoOverlap(vector&lt;int&gt;& A, int L, int M) {
            
            vector&lt;int&gt; prefixSum(A.size()+1, 0);         //at position i, sum of all numbers before i
            int max = -1;
            
            for (int i = 1; i &lt; prefixSum.size(); ++i)   //precalculate prefix sums, to speed up sliding
                prefixSum[i] = prefixSum[i-1]+A[i-1];       //window calcs
            
            for (int i = L; i &lt; prefixSum.size(); ++i) {   //Iterating over all possible L subarrays
                int lSum = prefixSum[i]-prefixSum[i-L];    //Get the LSum
                
                for (int j = M; j &lt; i-L; ++j) {            //Iterate over all possible M's before the current L
                    int mSum = prefixSum[j]-prefixSum[j-M];
                    if (lSum + mSum > max)                 //If we found a new max L+M, store it
                        max = lSum + mSum;
                }
                
                for (int j = i + M; j &lt; prefixSum.size(); ++j) { //Iterate over all possible M's after the L
                    int mSum = prefixSum[j] - prefixSum[j-M];
                    if (lSum + mSum > max)                //If we found a new max L+M, store it
                        max = lSum + mSum;
                }
            }
            return max;                         //return the max
        }
    };
{% endblock solution_code %}