{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a matrix consisting of 0s and 1s, we may choose any number of columns in the matrix and flip every cell in 
        that column.  Flipping a cell changes the value of that cell from 0 to 1 or from 1 to 0.
    </p>
    <p class="question">
        Return the maximum number of rows that have all values equal after some number of flips.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    //count patterns in rows of the grid. Patterns that are the same or exact opposites (i.e. for 
    //every one in a given position there is a zero in the other pattern at the same position and vice versa), will
    //reach uniformity via the same set of column flips. By grouping the patterns in this way, can determine maximum
    //number of uniform patterns possible given some number of flips.
    class Solution{
    public:  
        int maxEqualRowsAfterFlips(vector<vector<int>>& matrix) {
            
            unordered_map<string, int> row_patterns;
            
            for (int i = 0; i < matrix.size(); i++){
                
                string ones(matrix[0].size(), '0');
                string zeroes(matrix[0].size(), '0');
                
                for (int j = 0; j < matrix[0].size(); j++){
                    
                    if (matrix[i][j] == 1){
                        ones[j] = '1'; 
                    } else {
                        zeroes[j] = '1';
                    }
                }
                
                row_patterns[ones]++;
                row_patterns[zeroes]++;
            }
            
            int max = 0;
            for (auto it = row_patterns.begin(); it != row_patterns.end(); it++ ){
                if (it->second > max){
                    max = it->second;
                }
            }
            return max;
        }
    };
{% endblock solution_code %}