{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a date, return the corresponding day of the week for that date.
    </p>
    <p class="question">
        The input is given as three integers representing the day, month and year respectively.
    </p>
    <p class="question">
        Return the answer as one of the following values {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"}.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
        vector&lt;string&gt; dows {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"};
        vector&lt;int&gt; monthDays {0, 3, 0, 3, 2, 3, 2, 3, 3, 2, 3, 2, 3};
        
    public:
        string dayOfTheWeek(int day, int month, int year) {
            // 1971/01/01: Friday
            int m = 3;
            
            // year
            m += (year - 1971) + (year - 1969) / 4;
            
            // month
            for(int i = 1; i &lt; month; i++)
                m += monthDays[i];
            if(year % 4 == 0 && month > 2)
                ++m;
            
            // day
            m += day;
            
            // final answer
            return dows[m % 7];
        }
    };
{% endblock solution_code %}