{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a string text, you want to use the characters of text to form as many instances of the word "balloon" as possible.
    </p>
    <p class="question">
        You can use each character in text at most once. Return the maximum number of instances that can be formed.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int maxNumberOfBalloons(string text) {
            
            //Count all the letters in text that are used in the word balloon
            unordered_map&lt;char,int&gt; lettercount;
            string word = "balon";
            for (char c : text){
                if (word.find(c) != string::npos){
                    lettercount[c]++;
                }
            }
            
            //Kill the algorithm if we didn't count enough letters
            if (lettercount.size() != word.size()){
                return 0;
            }
            
            //Count complete sets of "balloon" by taking the minimum of all the letter counts (/2 for o and l because we
            //need 2 for each instance of "balloon")
            int wordcount = INT_MAX;
            for (unordered_map&lt;char,int&gt;::iterator it = lettercount.begin(); it != lettercount.end(); it++){
                if (it->first == 'o' || it->first == 'l'){
                    wordcount = min(wordcount,it->second/2);
                } else {
                    wordcount = min(wordcount,it->second);
                }
            }
            return wordcount;
        }
    };
{% endblock solution_code %}