{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array of integers nums and an integer k. A subarray is called nice if there are k odd numbers on it.
    </p>
    <p class="question">
        Return the number of nice sub-arrays.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int numberOfSubarrays(vector&lt;int&gt;& nums, int k) {
            int total = 0;
            int j = 0, odd = 0, count = 0;           //j left bound, odds in current span, count arrays in current span
            for (int i = 0; i &lt; nums.size(); i++) {  //incrementally expanding current subarray to right,
                if (nums[i] & 1) {
                    odd++;
                    if (odd >= k) {                       //count odds until we get count = k
                        count = 1;                        //reset count to 1
                        while (!(nums[j++] & 1)) count++; //move left bound to exclude one odd number, counting the subarrays formed as we move
                        total += count;               //add count of previous span to total
                    }
                } else if (odd >= k) total += count;    //if we encounter an even number it doubles the current subarray count
            }
            return total;
        }
    };
{% endblock solution_code %}