{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a square grid of integers arr, a falling path with non-zero shifts is a choice of exactly one element from each 
        row of arr, such that no two elements chosen in adjacent rows are in the same column.
    </p>
    <p class="question">
        Return the minimum sum of a falling path with non-zero shifts.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int minFallingPathSum(vector&lt;vector&lt;int&gt;&gt;& arr) {
            int m = arr.size();
            int n = arr[0].size();
            
            //Incrementally build the solution row by row (top row to bottom row in this case)
            vector&lt;vector&lt;int&gt;&gt; dp(m,vector&lt;int&gt;(n,0));
            for (int i = 0; i &lt; n; i++)
                dp[0][i] = arr[0][i];       //greatest sum at any point in first row is the value in arr
            
            //Iterate over over remaining rows and get max sum possible at each cell based on running sums above
            for (int i = 1; i &lt; m; i++){
                for (int j = 0; j &lt; n; j++){
                    int mini = INT_MAX;
                    for (int k = 0; k &lt; n; k++)
                        if (k != j)
                            mini = min(mini,dp[i-1][k]);
                    dp[i][j] = arr[i][j] + mini;
                }
            }
            
            //Retrieve minimum cumulative sum value from the last row
            return *min_element(dp.back().begin(),dp.back().end());
        }
    };
{% endblock solution_code %}