{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a m * n matrix mat of integers, sort it diagonally in 
        ascending order from the top-left to the bottom-right then return the sorted array.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Copy and sort one diagonal at a time:
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;vector&lt;int&gt;&gt; diagonalSort(vector&lt;vector&lt;int&gt;&gt;& mat) {
            
            int m = mat.size();
            int n = mat[0].size();
            
            //sort in place diagonals extending from cells on left edge of grid
            for (int i = m-1; i >= 0; i--){
                vector&lt;int&gt; temp;
                int x = 0;
                for (int y = i; y &lt;= m-1 && x &lt; n; y++){
                    temp.push_back(mat[y][x]);
                    x++;
                }
                sort(temp.begin(),temp.end());
                x = 0;
                for (int y = i; y &lt;= m-1 && x &lt; n; y++){
                    mat[y][x] = temp[x];
                    x++;
                }
            }
            
            //sort in place diagonals extending from cells on top edge of grid
            for (int i = 1; i &lt; n; i++){
                vector&lt;int&gt; temp;
                int y = 0;
                for (int x = i; x &lt; n && y &lt; m; x++){
                    temp.push_back(mat[y][x]);
                    y++;
                }
                sort(temp.begin(),temp.end());
                y = 0;
                for (int x = i; x &lt; n && y &lt; m; x++){
                    mat[y][x] = temp[y];
                    y++;
                }
            }
            
            //return sorted grid
            return mat;
        }
    };
{% endblock solution_code %}