{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Implement the class TweetCounts that supports two methods:
    </p>
    <ol>
        <li>recordTweet(string tweetName, int time)</li>
        <ul>
            <li>Stores the tweetName at the recorded time (in seconds).</li>
        </ul>
        <li>getTweetCountsPerFrequency(string freq, string tweetName, int startTime, int endTime)</li>
        <ul>
            <li>Returns the total number of occurrences for the given tweetName per minute, hour, or 
                day (depending on freq) starting from the startTime (in seconds) and ending at the endTime (in seconds).</li>
            <li>freq is always minute, hour or day, representing the time interval to get the total number of occurrences 
                for the given tweetName.</li>
            <li>The first time interval always starts from the startTime, so the time intervals are [startTime, startTime + delta*1>,  
                [startTime + delta*1, startTime + delta*2>, [startTime + delta*2, startTime + delta*3>, ... , [startTime + delta*i, 
                min(startTime + delta*(i+1), endTime + 1)> for some non-negative number i and delta (which depends on freq). </li>
        </ul>
    </ol>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class TweetCounts {
    private:
        unordered_map&lt;string,vector&lt;int&gt;&gt; TweetTimes;         //ensure tweet time stamps are indexed by tweet name
        
    public:
        TweetCounts() {
            
        }
        
        void recordTweet(string tweetName, int time) {
            TweetTimes[tweetName].push_back(time);      //store the time under the tweetname
            return;
        }
        
        vector&lt;int&gt; getTweetCountsPerFrequency(string freq, string tweetName, int startTime, int endTime) {
            if (!TweetTimes.count(tweetName)) return {0};                     //if no tweet names on record match, return 0
            int f = (freq[0] == 'm')? 60 : (freq[0] == 'h')? 3600 : 86400;    //get the frequency step in seconds
            vector&lt;int&gt; ans((endTime-startTime)/f + 1, 0);                    //set up the answer--each frequency step in the range gets a slot
            for (auto& t : TweetTimes[tweetName]){                 //for all tweets with the given name
                if (t &lt; startTime || t > endTime) continue;        //if in range
                ans[(t-startTime)/f]++;                            //Add to the count in the relevant slot
            }
            return ans;
        }
    };
{% endblock solution_code %}