{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a non-empty array of integers, every element appears twice except for one. Find that single one.
    </p>
    <p class="question">
        Note: Your algorithm should have a linear runtime complexity. Could you implement it without using extra memory?
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        XOR operation of two identical numbers is zero and XOR of zero and another number is the non-zero number, XOR all the 
        numbers together and you'll be left with only the unique value.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int singleNumber(vector&lt;int&gt;& nums) {
            int a = 0;
            for (int& n : nums){
                a ^= n;
            }
            return a;
        }
    };
{% endblock solution_code %}