{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an integer num, find the closest two integers in absolute difference whose product equals num + 1 or num + 2.
    </p>
    <p class="question">
        Return the two integers in any order.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;int&gt; closestDivisors(int num) {
            vector&lt;int&gt; num1 = factor(num + 1);
            vector&lt;int&gt; num2 = factor(num + 2);
            if (abs(num1[0] - num1[1]) &lt; abs(num2[0] - num2[1]))     //return the set that exhibits the smallest difference
                return num1;
            else
                return num2;
        }
        
        //returns common factors of n closest to or equal to n's square root
        vector&lt;int&gt; factor(int n) {
            int factor1;
            for (factor1 = sqrt(n); factor1 >= 1; factor1--)    //for numbers between 1 and sqrt(n)
                if (n % factor1 == 0)                           //if we found a factor, stop iteration
                    break;
            int factor2 = n / factor1;
            return {factor1, factor2};                            //return pair of factors
        }
    };
{% endblock solution_code %}