{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        The power of an integer x is defined as the number of steps needed to transform x into 1 using the following steps:
    </p>
    <ul>
        <li>if x is even then x = x / 2</li>
        <li>if x is odd then x = 3 * x + 1</li>
    </ul>
    <p class="question">
        For example, the power of x = 3 is 7 because 3 needs 7 steps to become 1 (3 --> 10 --> 5 --> 16 --> 8 --> 4 --> 2 --> 1).
    </p>
    <p class="question">
        Given three integers lo, hi and k. The task is to sort all integers in the interval [lo, hi] by the power value in 
        ascending order, if two or more integers have the same power value sort them by ascending order.
    </p>
    <p class="question">
        Return the k-th integer in the range [lo, hi] sorted by the power value.
    </p>
    <p class="question">
        Notice that for any integer x (lo &lt;= x &lt;= hi) it is guaranteed that x will transform into 1 using these steps and 
        that the power of x is will fit in 32 bit signed integer.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int getKth(int lo, int hi, int k) {
            vector&lt;vector&lt;int&gt;&gt; stepsNum;
            for (int i = lo; i &lt;= hi; i++)
                stepsNum.push_back({getSteps(i),i});
            sort(stepsNum.begin(),stepsNum.end());
            return stepsNum[k-1][1];
        }
        
        int getSteps(int i){
            int steps =  0;
            while (i != 1){
                if (i % 2 == 0)
                    i /= 2;
                else
                    i = 3*i+1;
                steps++;
            }
            return steps;
        }
    };
{% endblock solution_code %}