{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an integer n. Each number from 1 to n is grouped according to the sum of its digits. 
    </p>
    <p class="question">
        Return how many groups have the largest size.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int countLargestGroup(int n) {
            unordered_map<int,int> sumCount;
            int maxi = 0;
            for (int i = 1; i <= n; i++){
                int sum = 0;
                int n = i;
                while (n > 0){
                    sum += n % 10;
                    n /= 10;
                }
                sumCount[sum]++;
                if (sumCount[sum] > maxi) maxi = sumNum[sum];
            }
            int count = 0;
            for (auto& m : sumCount) if (m.second == maxi) count++;
            return count;
        }
    };
{% endblock solution_code %}