{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array nums. We define a running sum of an array as runningSum[i] = sum(nums[0]…nums[i]).
    </p>
    <p class="question">
        Return the running sum of nums.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;int&gt; runningSum(vector&lt;int&gt;& nums) {
            for (int i = 1; i &lt; nums.size(); i++)
                nums[i] += nums[i-1];
            return nums;
        }
    };
{% endblock solution_code %}