{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Implement a trie with insert, search, and startsWith methods.
    </p>
    <p class="question">
        Example:
    </p>
    <pre class="line-numbers">
        <code class="language-cpp">
            Trie trie = new Trie();

            trie.insert("apple");
            trie.search("apple");   // returns true
            trie.search("app");     // returns false
            trie.startsWith("app"); // returns true
            trie.insert("app");   
            trie.search("app");     // returns true
        </code>
    </pre>
    <p class="question">
        Note:
    </p>
    <ul>
        <li>You may assume that all inputs are consist of lowercase letters a-z.</li>
        <li>All inputs are guaranteed to be non-empty strings.</li>
    </ul>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class TrieNode {
    public:
        bool isEnd = false;              //public member variables so we don't need getters and setters to change the contents
        TrieNode* children[26] = {NULL}; //Array used for performance reasons
        TrieNode() {
            
        }
    };
    
    class Trie {
    private:
        TrieNode* root;
        
    public:
        /** Initialize your data structure here. */
        Trie() {
            this->root = new TrieNode();
        }
        
        /** Inserts a word into the trie. */
        void insert(string word) {
            TrieNode* cur = root;
            for (auto& c : word){
                if (cur->children[c-'a'] == NULL)
                    cur->children[c-'a'] = new TrieNode();
                cur = cur->children[c-'a'];
            }
            cur->isEnd = true;
            return;
        }
        
        /** Returns if the word is in the trie. */
        bool search(string word) {
            TrieNode* cur = root;
            for (auto& c : word){
                if (cur->children[c-'a'] == NULL)
                    return false;
                cur = cur->children[c-'a'];
            }
            return cur->isEnd? true:false;
        }
        
        /** Returns if there is any word in the trie that starts with the given prefix. */
        bool startsWith(string prefix) {
            TrieNode* cur = root;
            for (auto& c : prefix){
                if (cur->children[c-'a'] == NULL)
                    return false;
                cur = cur->children[c-'a'];
            }
            return true;
        }
    };
{% endblock solution_code %}