{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Find all possible combinations of k numbers that add up to a number n, given that only numbers from 1 to 9 can be used 
        and each combination should be a unique set of numbers.
    </p>
    <p class="question">
        Note:
    </p>
    <ul>
        <li>All numbers will be positive integers.</li>
        <li>The solution set must not contain duplicate combinations.</li>
    </ul>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    private:
        int n;
        vector&lt;int&gt; path;
        
    public:
        vector&lt;vector&lt;int&gt;&gt; combinationSum3(int k, int n) {
            this->n = n;
            vector&lt;vector&lt;int&gt;&gt; ans;
            vector&lt;bool&gt; used(9, false);
            sumToN(ans,0,used,k);
            return ans;
        }
        
        //Recursively build combinations of numbers between 1-9 and store combos that sum to n and are of size k
        void sumToN(vector&lt;vector&lt;int&gt;&gt;& ans,int idx,vector&lt;bool&gt;& used,int k){
            if (used[idx]){
                return;
            }
            if (k == 0 && accumulate(path.begin(),path.end(),0) == n){
                ans.push_back(path);
                return;
            } else if (k == 0 || accumulate(path.begin(),path.end(),0) > n){
                return;
            }
            
            //Recursion backtrack
            for (int i = idx + 1; i &lt;= 9; i++){   //successively narrowing the range of analysis in one direction 
                path.push_back(i);              //as we go deeper into the recursion makes duplicates impossible
                used[i-1] = true;               //so we don't check for duplicates before storing completed paths
                sumToN(ans,i,used,k-1);
                path.pop_back();
                used[i-1] = false;
            }
            return;
        }
    };
{% endblock solution_code %}