{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a binary search tree, write a function kthSmallest to find the kth smallest element in it.
    </p>
    <p class="question">
        Note: You may assume k is always valid, 1 ≤ k ≤ BST's total elements.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Traverse tree to store all values, sort values and access (k-1)th element.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int kthSmallest(TreeNode* root, int k) {
            vector<int> smallest;
            storeValues(root, smallest);
            sort(smallest.begin(),smallest.end());
            return smallest[k-1];
        }
        
        void storeValues(TreeNode* root, vector<int>& smallest){
            if (!root) return;
            smallest.push_back(root->val);
            storeValues(root->left, smallest);
            storeValues(root->right, smallest);
            return;
        }
    };
{% endblock solution_code %}