{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array nums containing n + 1 integers where each integer is between 1 and n (inclusive), prove that at least one 
        duplicate number must exist. Assume that there is only one duplicate number, find the duplicate one.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int findDuplicate(vector&lt;int&gt;& nums) {
            sort(begin(nums),end(nums));
            for (int i = 1; i &lt; nums.size(); i++)
                if (nums[i] == nums[i-1])
                    return nums[i];
            return -1;
        }
    };
{% endblock solution_code %}