{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a positive integer num, write a function which returns True if num is a perfect square else False.
    </p>
    <p class="question">
        Note: Do not use any built-in library function such as sqrt.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
       
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        bool isPerfectSquare(int num) {
            int start = 1;
            int end = num;
            while( start &lt;= end ) {
                long mid = start + (end-start)/2;
                if( mid*mid == num ) 
                    return true;
                else if( mid*mid > num ) 
                    end = mid - 1;
                else 
                    start = mid + 1;
            }
            return false;
        }
    };
{% endblock solution_code %}