{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a string, find the first non-repeating character in it and return it's index. If it doesn't exist, return -1.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int firstUniqChar(string s) {
            unordered_map&lt;char,int&gt; lettercount;
            for (auto& c : s)
                lettercount[c]++;
            for (int i = 0; i &lt; s.size(); i++)
                if (lettercount[s[i]] == 1)
                    return i;
            return -1;
        }
    };
{% endblock solution_code %}