{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        A sequence of number is called arithmetic if it consists of at least three elements and if the difference between any 
        two consecutive elements is the same.
    </p>
    <p class="question">
        For example, these are arithmetic sequences: <br>
        1, 3, 5, 7, 9 <br>
        7, 7, 7, 7 <br>
        3, -1, -5, -9
    </p>
    <p class="question">
        The following sequence is not arithmetic. <br>
        1, 1, 2, 5, 7
    </p>
    <p class="question">
        A zero-indexed array A consisting of N numbers is given. A slice of that array is any pair of integers (P, Q) such 
        that 0 <= P < Q < N.
    </p>
    <p class="question">
        A slice (P, Q) of array A is called arithmetic if the sequence: <br>
        A[P], A[p + 1], ..., A[Q - 1], A[Q] is arithmetic. In particular, this means that P + 1 < Q.
    </p>
    <p class="question">
        The function should return the number of arithmetic slices in the array A.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int numberOfArithmeticSlices(vector&lt;int&gt;& A) {
            
            if (A.size() &lt; 3){
                return 0;
            }
            if (A.size() == 3 && A[2]-A[1] == A[1]-A[0]){
                return 1;
            }
            
            int count = 0;
            int lastdiff = A[1]-A[0];
            int seq = 1;
            
            for (int i = 2; i &lt; A.size(); i++){
                if (A[i]-A[i-1] != lastdiff){
                    if (seq >= 2){
                        count += 1;
                        int plus = 2;
                        for (int k = 0; k &lt; seq-2; k++){
                            count += plus;
                            plus++;
                        }
                    }
                    lastdiff = A[i]-A[i-1];
                    seq = 1;
                } else {
                    seq++;
                    if (i == A.size()-1){
                        if (seq >= 2){
                            count += 1;
                            int plus = 2;
                            for (int k = 0; k &lt; seq-2; k++){
                                count += plus;
                                plus++;
                            }
                        }
                    }
                }
            }
            
            return count;
        }
    };
{% endblock solution_code %}