{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a collection of distinct integers, return all possible permutations.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;vector&lt;int&gt;&gt; permute(vector&lt;int&gt;& nums) {
            
            vector&lt;vector&lt;int&gt;&gt; ans;
            createPerms(ans, 0, nums);
            return ans;
        }
        
        void createPerms(vector&lt;vector&lt;int&gt;&gt;& ans, int index, vector&lt;int&gt;& nums){
            
            if (index == nums.size()){
                ans.push_back(nums);
                return;
            }
            
            for (int i = index; i &lt; nums.size(); i++){
                swap(nums[index],nums[i]);
                createPerms(ans, index+1, nums);
                swap(nums[index],nums[i]);
            }
        }
    };
{% endblock solution_code %}