{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a binary array, find the maximum length of a contiguous subarray with equal number of 0 and 1.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution{
    public:
        int findMaxLength(vector&lt;int&gt; &nums){
            unordered_map&lt;int, int&gt; SumPos;        //track cumulative sums by position
            SumPos[0] = -1;                        //cumulative sum of zero at position -1         
    
            int mlen = 0, sum = 0;                    //sum is running accumulation of 1s and -1s (add -1 to indicate a zero)
            for (int i = 0; i &lt; nums.size(); i++){
                sum += nums[i] ? 1 : -1;
                if (SumPos.find(sum) != SumPos.end())       //if same running sum previously encountered, since that point we know we have added an equal number of 1s and -1s; i.e., the span between that point and now is a subarray of interest
                    mlen = max(mlen, i - SumPos[sum]);      //record the maximum length
                else
                    SumPos[sum] = i;           //if not previously encountered, store the sum so we can use it to potentially calculate later subarray lengths
            }
            return mlen;
        }
    };
{% endblock solution_code %}