{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Implement a MapSum class with insert, and sum methods.
    </p>
    <p class="question">
        For the method insert, you'll be given a pair of (string, integer). The string represents the key and the integer represents 
        the value. If the key already existed, then the original key-value pair will be overridden to the new one.
    </p>
    <p class="question">
        For the method sum, you'll be given a string representing the prefix, and you need to return the sum of all the pairs' value 
        whose key starts with the prefix.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class MapSum {
    private:
        unordered_map<string,int> map;
        
    public:
        /** Initialize your data structure here. */
        MapSum() {
            
        }
        
        void insert(string key, int val) {
            map[key] = val;
        }
        
        int sum(string prefix) {
            int pl = prefix.size();
            int sum = 0;
            for (auto& m : map){
                if (m.first.size() < pl) continue;
                if (m.first.substr(0,pl) == prefix) sum+=m.second;
            }
            return sum;
        }
    };
{% endblock solution_code %}