{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given the root node of a binary search tree (BST) and a value to be inserted into the tree, insert the value into the 
        BST. Return the root node of the BST after the insertion. It is guaranteed that the new value does not exist in the 
        original BST.
    </p>
    <p class="question">
        Note that there may exist multiple valid ways for the insertion, as long as the tree remains a BST after insertion. 
        You can return any of them.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        TreeNode* insertIntoBST(TreeNode* root, int val) {
            
            if (!root){
                auto newNode = new TreeNode(val);
                return newNode;
            }
            
            if (val >= root->val)
                root->right = insertIntoBST(root->right, val);
            if (val &lt; root->val)
                root->left = insertIntoBST(root->left, val);
            
            return root;
        }
    };
{% endblock solution_code %}