{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a list of daily temperatures T, return a list such that, for each day in the input, tells you how many days you would 
        have to wait until a warmer temperature. If there is no future day for which this is possible, put 0 instead.
    </p>
    <p class="question">
        For example, given the list of temperatures T = [73, 74, 75, 71, 69, 72, 76, 73], your output should be 
        [1, 1, 4, 2, 1, 1, 0, 0].
    </p>
    <p class="question">
        Note: The length of temperatures will be in the range [1, 30000]. Each temperature will be an integer in the range [30, 100].
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Iterate back to front and keep track of the warmest temperature with a stack.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector<int> dailyTemperatures(vector<int>& T) {

            vector<int> result(T.size(), 0);
            stack<int> tempStack;
            
            //traverse the vector in the reverse order
            for(int i = T.size()-1; i >= 0; i--) {
                //check for any values in stack that are less
                //than the current value
                while(!tempStack.empty() && T[i] >= T[tempStack.top()]) {
                    //delete these values
                    tempStack.pop();
                }
                
                //after performing the above removal, the top most value in the stack will 
                //either be the index of the next warmer temperature or the stack will be empty.
                result[i] = tempStack.empty() ? 0 : tempStack.top() - i;
                //add the current temperature index to stack
                tempStack.push(i);
            }
    
            return result;
        }
    };
{% endblock solution_code %}