{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a string S, we can transform every letter individually to be lowercase or uppercase to create another 
        string.  Return a list of all possible strings we could create.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;string&gt; letterCasePermutation(string S) {
            vector&lt;string&gt; ans;
            ans.push_back(S);
            DownStreamSwap(S, 0, ans);
            return ans; 
        }
        
        //Given a alphabetic char, change its case
        char SwitchCase(char c){
            if (c >= 65 && c &lt;= 90)
                return c+32;
            else
                return c-32;
        }
        
        //Get all downstream swaps from position j
        void DownStreamSwap(string& S, int j, vector&lt;string&gt;& ans){
            
            for (int i = j; i &lt; S.length(); i++){
                if (isalpha(S[i])){
                    string temp = S;
                    temp[i] = SwitchCase(S[i]);
                    ans.push_back(temp);
                    DownStreamSwap(temp, i+1, ans);
                }
            }
        }
    };
{% endblock solution_code %}