{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        We have a two dimensional matrix A where each value is 0 or 1.
    </p>
    <p class="question">
        A move consists of choosing any row or column, and toggling each value in that row or column: 
        changing all 0s to 1s, and all 1s to 0s.
    </p>
    <p class="question">
        After making any number of moves, every row of this matrix is interpreted as a binary number, and 
        the score of the matrix is the sum of these numbers.
    </p>
    <p class="question">
        Return the highest possible score.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int matrixScore(vector<vector<int>>& A) {
            
            //Premise: The row flips control the calculation. If the first bit of a row is not one, the row must be
            //flipped to achieve that one because it will always significantly improve the sum. the column flips do not
            //have as great an impact as the rows do on the sum.
            
            int row = A.size();
            int col = A[0].size();
            
            //memo for rows that have been flipped initialized to -1
            int rowflip[row];
            memset(rowflip,-1,sizeof(rowflip));
            
            //for all rows, store 1 if there is a zero in the first position
            for(int i = 0; i < row ; i++)
            {
                if(A[i][0]==0) rowflip[i]=1;
            }
            
            int ans = 0, p = 1, count = 0;
            
            //for all columns starting from the end going down to zero
            for(int j = col - 1; j >= 0; j--)
            {   
                count = 0;     //count all the one bits
                
                //scan all values in column, if the first number in the row is zero, count the bit if it is zero (if the 
                //first number is zero, we will definitely flip the row, so zeroes will become ones)
                //if the first number in the row was not zero, count the bit as is (row will not be flipped)
                for(int i = 0; i < row; i++)
                {
                    if(rowflip[i]==1) count += (A[i][j]^1);
                    else count += A[i][j];
                }
                ans += p*max(count,row-count);      //all the bits in the column times the current power of 2, add sum
                p*=2;       //upgrade the power as we are sweeping the row right to left
            }
            return ans;
        }
    };
{% endblock solution_code %}