{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given a matrix A, return the transpose of A.
    </p>
    <p class="question">
        The transpose of a matrix is the matrix flipped over it's main diagonal, switching the row and column indices of the matrix.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;vector&lt;int&gt;&gt; transpose(vector&lt;vector&lt;int&gt;&gt;& A) {
            int sidex = A.size();
            int sidey = A[0].size();
            vector&lt;vector&lt;int&gt;&gt; result;
            for (int h = 0; h &lt; sidey; h++){
                vector&lt;int&gt; temp;
                result.push_back(temp);
            }
            
            for (int i = 0; i &lt; sidey; i++)
                for (int j = 0; j &lt; sidex; j++)
                    result[i].push_back(A[j][i]);
            return result;
        }
    };
{% endblock solution_code %}