{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Write a class StockSpanner which collects daily price quotes for some stock, and returns the span of that stock's 
        price for the current day.
    </p>
    <p class="question">
        The span of the stock's price today is defined as the maximum number of consecutive days (starting from today and 
        going backwards) for which the price of the stock was less than or equal to today's price.
    </p>
    <p class="question">
        For example, if the price of a stock over the next 7 days were [100, 80, 60, 70, 60, 75, 85], then the stock spans 
        would be [1, 1, 1, 2, 1, 4, 6].
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Use a stack to accumulate spans as bigger numbers are added to the prices. 
        For each subsequent number, the number of iterations is reduced since the number of spans gets smaller.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class StockSpanner {
    private:
    vector&lt;pair&lt;int, int&gt;&gt; priceSpan;          //accumulates leading spans of major numbers
        
    public:
        StockSpanner() {
            
        }
        
        int next(int price) {
            int span = 1;                                                        //default span, if number is smaller than previous
            while (!priceSpan.empty() && priceSpan.back().first &lt;= price) {      //accumulate previous smaller number spans into current number's span
                span += priceSpan.back().second;
                priceSpan.pop_back();
            }
            priceSpan.push_back(make_pair(price, span));                         //store the accumulated span and return
            return span;
        }
    };
{% endblock solution_code %}