{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Write a class RecentCounter to count recent requests.
    </p>
    <p class="question">
        It has only one method: ping(int t), where t represents some time in milliseconds.
    </p>
    <p class="question">
        Return the number of pings that have been made from 3000 milliseconds ago until now.
    </p>
    <p class="question">
        Any ping with time in [t - 3000, t] will count, including the current ping.
    </p>
    <p class="question">
        It is guaranteed that every call to ping uses a strictly larger value of t than before.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class RecentCounter {
    public:
        vector&lt;int&gt; ping_record;
        
        RecentCounter() {
            
        }
        
        int ping(int t) {
            //if there are no existing pings, push the ping
            if (ping_record.size()==0)
                ping_record.push_back(t);
            else {
                
                //there is some arbitrary time scale that starts from 0.
                //All pings occur some time int t after the 0.
                //We must make sure that all pings are at maximum within 3000 of each other.
                //i.e. MAX-MIN &lt;= 3000
                auto it = ping_record.begin();
                while(t-*it>3000) {
                    ping_record.erase(it);
                    if(ping_record.size()==0) break;
                    it = ping_record.begin();
                }
                ping_record.push_back(t);
            }
            return ping_record.size();
        }
    };
{% endblock solution_code %}