{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given an array of integers A sorted in non-decreasing order, return an array of the squares of each number, also in 
        sorted non-decreasing order.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector<int> sortedSquares(vector<int>& A) {
            for (int i = 0; i < A.size(); i++){
                A[i] = A[i]*A[i];
            }
            sort(A.begin(),A.end());
            return A;
        }
    };
{% endblock solution_code %}