{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        On a 2-dimensional grid, there are 4 types of squares:
    <ul>
        <li> 1 represents the starting square.  There is exactly one starting square.</li>
        <li> 2 represents the ending square.  There is exactly one ending square.</li>
        <li> 0 represents empty squares we can walk over.</li>
        <li> -1 represents obstacles that we cannot walk over.</li>
    </ul>
    <p class="question">
        Return the number of 4-directional walks from the starting square to the ending square, that walk over 
        every non-obstacle square exactly once.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Do not scan the grid initially. Iterating over the grid, find the start cell and launch 4-directional traversal 
        recursion immediately--each step into a valid cell changes the cell to -1 with the backtrack returning it to 
        zero. Recursion stops when the 2 is encountered, and the count increases if the entire matrix has been blanketed 
        by -1s. Kill the initial iteration over the grid after recursion has been launched since there's only one 1.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
class Solution {
private:
    vector&lt;int&gt; y = {1,-1,0,0};
    vector&lt;int&gt; x = {0,0,1,-1};
    
public:
    int uniquePathsIII(vector&lt;vector&lt;int&gt;&gt;& grid) {
        int count = 0;
        //iterate over all possible starting cells, launch recursion if start found
        for (int i = 0; i &lt; grid.size(); i++)
            for (int j = 0; j &lt; grid[0].size(); j++)
                if (grid[i][j] == 1){
                    launchPath(grid,i,j,count);
                    break;                        //we found the 1; no need for further analysis
                }
        return count;
    }
    
    //Recursively traverse all available adjacent cells of a given cell, if 2 is found add to count if matrix
    //has been completely traversed
    void launchPath(vector&lt;vector&lt;int&gt;&gt;& grid, int i, int j, int& count){
        if (grid[i][j] == 2){
            grid[i][j] = -1;
            if (checkCover(grid))
                count++;
            grid[i][j] = 2;
            return;
        }
        
        grid[i][j] = -1;
        for (int k = 0; k &lt; 4; k++)
            if (i+y[k] >= 0 && i+y[k] &lt; grid.size() && j+x[k] >= 0 && j+x[k] &lt; grid[0].size() && grid[i+y[k]][j+x[k]] != -1)
                launchPath(grid,i+y[k],j+x[k],count);
        grid[i][j] = 0;            //backtrack
        return;
    }
    
    //check row by row if all entries in the entire matrix are exactly -1
    bool checkCover(vector&lt;vector&lt;int&gt;&gt;& grid){
        for (int i = 0; i &lt; grid.size(); i++)
            if ( std::accumulate(grid[i].begin(),grid[i].end(),0) != -1*grid[0].size())
                return false;
        return true;
    }
};
{% endblock solution_code %}