{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        In a country popular for train travel, you have planned some train travelling one year in advance.  The days of the 
        year that you will travel is given as an array days.  Each day is an integer from 1 to 365.
    </p>
    <p class="question">
        Train tickets are sold in 3 different ways:
    </p>
    <ul>
        <li>a 1-day pass is sold for costs[0] dollars;</li>
        <li>a 7-day pass is sold for costs[1] dollars;</li>
        <li>a 30-day pass is sold for costs[2] dollars.</li>
    </ul>
    <p class="question">
        The passes allow that many days of consecutive travel.  For example, if we get a 7-day pass on day 2, then we can 
        travel for 7 days: day 2, 3, 4, 5, 6, 7, and 8.
    </p>
    <p class="question">
        Return the minimum number of dollars you need to travel every day in the given list of days.
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        int mincostTickets(vector<int>& days, vector<int>& costs) {
            
            //Memoize answers: for any position, what is the minimum cost
            vector<int> PosCost(days.size()+1, -1);
            
            return minCost(days, 0, costs, PosCost);
        }
        
        int minCost(vector<int>& days, int pos, vector<int>& costs, vector<int>& PosCost){
            
            //All days covered, kill the recursion
            if (pos >= days.size()){
                return 0;
            }
            //Skip the calculation if we already did it before
            if (PosCost[pos] != -1){
                return PosCost[pos];
            }
            
            //One day pass path
            int OneDay = costs[0] + minCost(days, pos+1, costs, PosCost);
            
            //Seven day pass path
            int increment = 0;
            int initial = days[pos];
            while ( pos + increment < days.size()-1 && days[pos+increment+1] - initial < 7 ){
                increment++;
            }
            int SevenDay = costs[1] + minCost(days, pos+increment+1, costs, PosCost);
            int cost = min(OneDay,SevenDay);
            
            
            //Thirty Days path
            increment = 0;
            initial = days[pos];
            while ( pos + increment < days.size()-1 && days[pos+increment+1] - initial < 30 ){
                increment++;
            }
            int ThirtyDay = costs[2] + minCost(days, pos+increment+1, costs, PosCost);
            
            //return the minimum of all the paths
            PosCost[pos] = min(ThirtyDay,cost);
            return PosCost[pos];
        }
    };
{% endblock solution_code %}