{% extends "coding_solutions/post.html" %}
{% block head %}
    <!-- Problem name including link-->
    <a href="{{ url }}">
        {{title}}
    </a>
{% endblock head %}
{% block question %}
    <!-- Problem statement (format with p tags)-->
    <p class="question">
        Given two lists of closed intervals, each list of intervals is pairwise disjoint and in sorted order.
    </p>
    <p class="question">
        Return the intersection of these two interval lists.
    </p>
    <p class="question">
        (Formally, a closed interval [a, b] (with a <= b) denotes the set of real numbers x with a <= x <= b.  The intersection 
        of two closed intervals is a set of real numbers that is either empty, or can be represented as a closed interval.  For example, the intersection of [1, 3] and [2, 4] is [2, 3].)
    </p>
    <div class="line"></div>
{% endblock question %}
{% block solution_exp %}
    <!-- verbal portion of solution (format with p tags)-->
    <p>
        Maintain one pointer on each of A and B to indicate which interval in both lists we are currently on. Compare each 
        interval to the closest lesser and greater intervals in the other list by iterating concurrently through A and B--each 
        step forward in A or B is a pivot on the current interval in the other list.
    </p>
{% endblock solution_exp %}
{% block solution_code %}
    <!-- coding portion of solution-->
    class Solution {
    public:
        vector&lt;vector&lt;int&gt;&gt; intervalIntersection(vector&lt;vector&lt;int&gt;&gt;& A, vector&lt;vector&lt;int&gt;&gt;& B) {
            vector&lt;vector&lt;int&gt;&gt; ans;
            int asect = 0, bsect = 0;
            while (asect &lt; A.size() && bsect &lt; B.size()){
                int start = max(A[asect][0],B[bsect][0]);
                int end = min(A[asect][1],B[bsect][1]);
                
                //add the interval
                if (start &lt;= end)
                    ans.push_back({start,end});
                
                //step forward on A or B, whichever is less
                if (end == A[asect][1])
                    asect++;
                else 
                    bsect++;
            }
            return ans;
        }
    };
{% endblock solution_code %}