{% extends "layout.html" %} {% block content %}
<h1>React-Redux Invoice Editor</h1>
<p class="mp2">
  Type in your item, quantity and price. Add or delete using the buttons on the
  right.
</p>
<p class="mp2">
  The quantity and price properties of existing line items shown in black can be
  edited.
</p>
<p class="mp2">
  Item names should consist of letters only (spaces are acceptable) and
  quantities and price should be numbers.
</p>
<br />
<div id="app" style="margin-left: 50px;"></div>
<script src="{{ url_for('static', filename='invoice_editor/bundle.js') }}"></script>
{% endblock content %}
