{% extends "layout.html" %}
{% block content %}
    <h1>Adrian Lee</h1>
    <h3>
        Mental meanderings, sparkling random conversations I have with myself and maybe the occasional emotional gut spill.
    </h3>
    <div class="line"></div>
    <!--Insert card for next blog post-->
    
    <div class="card">
        <h2><a name="Randomness">Randomness</a></h2>
        <h5>May 2, 2020</h5>
        <div class="img">
            <img src="{{ url_for('static', filename='third_party/images/pacific_rim_uprising.jpg') }}" alt="Pacific Rim Uprising">
        </div>
        <p class="blog">
            In the past, I've had trouble fathoming the essence of meaning of when people say they're bad at coming up with ideas. To be
            sure, everybody's got different talents, temperaments and upbringings but as humans don't we all experience moments of 
            spontaneity, when our thoughts develop in unexpected and not-consciously-controlled ways?
        </p>
        <p class="blog">
            Maybe it's more of a question of whether people remember instances of when they did/thought freely, and I know for sure that
            putting your nose to the grindstone to purposefully make new ideas can be hard sometimes. That's why I tend to write random
            thoughts down, even if it's the middle of the night and I'm lying in bed. You never know when something will come to your mind,
            and ideas that seem crap initially might be one change shy of being in fact quite good.
        </p>
        <p class="blog">
            I have the advantage of a random mind. The other night I watched a highly entertaining children's movie called Pacific Rim 
            Uprising (2018), and at varying points over the course of the movie the following questions entered my head:
        </p>
        <ol class="blog">
            <li>How did Dr. Geisler get the Kaiju brain into his penthouse apartment without anyone seeing?</li>
            <li>If everybody's going to Mount Fuji, why didn't you create a rift (monster entry point) in Tokyo Bay, especially given
                the established fact that there is a Shao drone production facility conveniently located in Tokyo?
            </li>
            <li>If the monsters were initially converging on Tokyo from three different directions, how did they all end up on the
                same approach for the climactic tower defense style action sequence?
            </li>
            <li>If the goal is to get into the volcano, why didn't the bad aliens send any flying Kaiju?</li>
        </ol>
        <p class="blog">
            And so on and so forth. Of course, these thoughts didn't stop me from having a good time and I still highly recommend the movie.
        </p>
        <p class="blog">
            Writing stuff down has been great because the ideas usually end up being used in my conversations, apps or blog posts (like here) 
            and it's all contributed I think to having a more interesting life and in general being able to find genuine interest in 
            other people and things with great ease.
        </p>
        <p class="blog">
            In contrast to (most) humans, it's a well known fact that computers have trouble doing things that are truly 
            'random'. The prototypical example would be the <span><a href="https://en.wikipedia.org/wiki/Pseudorandom_number_generator"><u>pseudorandom number generator</u></a></span>. 
            In order for a classical computer to perform a task, it must be given very specific instructions like, for example, some
            combination of mathematical operations used to transform a number that is retrieved from a pre-existing array.
            If there are specific instructions, it wouldn't be a stretch to see that knowledge of that underlying algorithm would 
            enable an interested party to predict the 'random' result with some degree of success, thus meaning a sequence of those numbers
            wouldn't actually be random.
        </p>
        <p class="blog">
            As I mentioned in an earlier post, recently my friends and I started to play Dungeons and Dragons online to pass the
            time on weekends of social isolation and throughout these sometimes emotional sessions there've been moments when we've
            become untrusting of the website's <span><a href="https://wiki.roll20.net/QuantumRoll">electronic dice roll system</a></span>.
            It's a pretty reasonable reaction I think when you roll enough natural 1's to have your team almost completely wiped 
            out by wild pigs in a random field in the middle of the night.
        </p>

        <figure>
            <img src="{{url_for('static', filename='third_party/images/pigs_dnd.png')}}" 
                alt="Pigs"
                style="display:block;
                    width: 30%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 25px;" >
            <figcaption style="text-align:center;">
                Pig (5e creature): Pigs are common farm animals that pose little threat to a well-armed party of 
                adventurers. -taken from dandwiki.com </figcaption>
        </figure>
        <br>

        
        <p class="blog">
            It turns out from Roll20 forums that we weren't the first ones to have questions about Roll20's dice system and as I 
            dug deeper I found more technical stuff about Quantum Roll, the software the site uses to generate random numbers.
            The explanation was a bit too black box for my liking, though, and that's how I ended up jumping down a deep Wikipedia
            rabbit hole about <span><a href="https://en.wikipedia.org/wiki/Quantum_computing"><u>quantum computers</u></a></span>, a 
            topic that was briefly mentioned on Quantum Roll's page. 
        </p>
        <p class="blog">
            How do quantum computers facilitate randomness? Here's the oversimplified summary of what I read, and what I thought
            it meant:
        </p>
        <ol class="blog">
            <li>
                Quantum computers utilize basic units of storage called qubits, which can exist at any point in time in a 
                combination of states (superposition of base states within the single qubit) and exhibit quantum entanglement with 
                other qubits (new states in a unified group of qubits so deeply intertwined they are taken as a new, unique, joint 
                state). It's a highly variable system that behaves differently from a normal computer, where bits are independent 
                and exist in one of two states, 1 or 0, and groups of bits are read one at a time.
            </li>
            <br>
            <li>
                When information is retrieved from a quantum computer, qubits (or groups of qubits) are measured, and when qubits 
                are measured, they collapse randomly, unpredictably, into one of their base states with some consistent probability 
                distribution (in theory). You won't know what a qubit's measurement is until you measure it, but you will know what 
                the possibilities are and have an idea how often each possibility will show up (in the case of quantum 
                entanglement on a group of qubits, based on how the quantum circuit has been built).
            </li>
            <br>
            <li>
                A quantum circuit can be created by connecting qubits together using structures called quantum gates (like logic 
                gates in a classical computer) to simultaneously: 
            </li>
            <ul>
                <li>
                    represent a potentially more complex range of possible data - superposition allows for partial states whereas 
                    classical bits can not; and
                </li>
                <li>
                    be more computationally trivial to measure by virtue of measurement via the unified quantum entanglement state 
                    (one look), as opposed to a classical computer going through the bits one by one to read all the information 
                    (many looks plus thinking)
                </li>
            </ul>
            <br>
        </ol>
        <p class="blog">
            I'm not a physicist so the above interpretations of quantum bits and quantum entanglement in the context of quantum
            computers should definitely be taken with that in mind. You can read more about 
            <span><a href="https://en.wikipedia.org/wiki/Qubit"><u>qubits</u></a></span> and 
            <span><a href="https://www.quantamagazine.org/how-to-turn-a-quantum-computer-into-the-ultimate-randomness-generator-20190619/"><u>quantum circuits</u></a></span> 
            online. If any real physicist ever comes on here I hope they'll at least appreciate the fact I tried to tell other
            people about quantum computers!
        </p>
        <p class="blog">
            For me, based on what I read, using a classical computer as opposed to a quantum computer to represent data is like 
            building a castle out of toy blocks as opposed to play-doh. The play-doh allows for non-standard shapes and the 
            ability to produce structures identical to a toy block structure in less time. In the case of a quantum computer, 
            though, the play-doh would also be ostensibly separable back into its original forms to show that you could construct 
            and de-construct quantum circuits (i.e. like reverting a mass of play-doh to the different colors it was before you 
            mixed it all).
        </p>
        <p class="blog">
            I built a simple quantum circuit using remote computers at IBM through the 
            <span><a href="https://www.ibm.com/quantum-computing/"><u>IBM Quantum Experience</u></a></span>:
        </p>
        <img src="{{url_for('static', filename='5GatesSuper.PNG')}}" 
            alt="5 quantum gates on a circuit of 5 Qubits in superposition"
            style="display:block;
                width: 40%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 25px;" >
        <br>
        <p class="blog">
            There are five quantum bits, which according to <span><a href="https://en.wikipedia.org/wiki/Binary_number"><u>binary representation</u></a></span> 
            for classical computers allows for portrayal of a single number between 0 and 31 inclusive. The Hadamard quantum 
            gates (H blocks) are positioned to enable the measurement of the number in question using 5 classical bits and 
            create a theoretical probability of 1/32 for each number because each of the five bits has a 50% chance of 
            being 1 or 0, making any of the numbers between 00000 (= 0) or 11111(=31) equally probable.
        </p>
        <p class="blog">
            After running the circuit with both quantum computers and a quantum assembly code simulator (classical computer
            simulating a quantum computer), I did in fact get roughly even probability distributions:
        </p>
        <img src="{{url_for('static', filename='4096.PNG')}}" 
            alt="QASM vs Quantum 4092 trials"
            style="display:block;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 25px;" >
        <br>
        <img src="{{url_for('static', filename='8192.PNG')}}" 
            alt="QASM vs Quantum 8192 trials"
            style="display:block;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 25px;" >
        <br>
        <p class="blog">
            The circuit was measured 4,096 times and then 8,192 times on both the quantum and classical computer to observe the
            effect of sample size on probability distribution. The quantum assembly code slightly outperforms the quantum
            computer in terms of generating uniformity in both experiments and this may be due to quantum noise--quantum 
            computers are still in their infancy and require a totally pristine environment to function ideally, conditions 
            that are difficult and expensive to achieve and maintain. The quantum assembly run for 8,192 trials is most uniform 
            and also produces frequency distributions that are closest to the expected 1/32 = 3.125 %.
        </p>
        <p class="blog">
            To top it all off, I took the pre-generated random sequence of numbers from the 8,192 trials with the quantum
            computer and made a dice app that you can try <span><a href="{{ url_for('quantum_dice') }}"><u>here</u></a></span>.
            Because it's a pre-generated sequence, the randomness will not hold if the app is used too often without me changing
            the numbers to a new sequence. The pre-made sequence is used rather than pinging the remote quantum computers each 
            time because doing so requires a time lag of several minutes in each instance. The dice is perfect for a one-off
            event where no dice are available.
        </p>
    </div>
    <br>

    <div class="card">
        <h2><a name="Cold Sweat">Cold Sweat</a></h2>
        <h5>April 10, 2020</h5>
        <div class="img">
            <img src="{{ url_for('static', filename='third_party/images/osaka_nondescript_afternoon.jpg') }}" alt="Nondescript afternoon in north Osaka area">
        </div>
        <p class="blog">
            It's not easy to get a cold sweat in the middle of the summer in Japan. Usually, what you got is the other one.
        </p>
        <p class="blog">
            About a year ago in a board room in a ritzy building in Nishi Osaka I broke into a cold sweat waiting for my 
            interview to start. It wasn't my first Japanese language job interview but it was one of the first that I ever had in 
            person, and the stakes were high. Somehow, I'd been shortlisted for the fourth and final stage of a series of 
            evaluations for a billingual digital marketing manager position at a mobile gaming media company (mobile gaming has 
            and continues to be one of my greatest tech and personal interests), which included a previous Skype interview in 
            Japanese and performing a number of sample project tasks billingually.
        </p>
        <p class="blog">
            Given what I'd read about Japanese interviews up until that point I was in a highly unusual situation, 
            being made to wait in a comfortable chair with coffee in a board room with no people in it as opposed to outside 
            one that was already occupied by my interviewers. It threw me off. Anyway, as my sweating continued, I did what I could: I 
            reviewed the predicted questions and corresponding answers I'd prepped in Japanese, as well as the 
            information translated from shareholder meeting minutes I'd found on the Japanese financial internet.
        </p>
        <p class="blog">
            Talk about being under-prepared! People who know Japanese who have heard me speak the language know it's nothing 
            to write home about (even though I did exactly that) and I have to give my Japanese teacher in Kobe, Tanaka-san, 
            credit for supporting and pulling for me through the whole process when many other Japanese young and old probably 
            would have tempered my expectations of myself instead. Within that interview and others I did in various 
            languages I had varying degrees of success saying what I'd wanted to say but one thing I noticed in Japan in 
            particular was that they tended to cut you off mid-answer.
        </p>
        <p class="blog">
            I'm talking here about 2 or 3 sentence answers--maybe they were trying to save me embarrassment lol. My answers ended up
            shortening with experience, and even though it sort of put me off initially I certainly don't blame corporate Japan for me 
            being taken aback by what was probably a cultural difference. It did seem, though, at odds with newscasts, advertisements, 
            teaching styles, and many other things I'd seen in Japan, where call me crazy but verbosity seemed to be the way to go.
        </p>
        <p class="blog">
            I was reminded of this phenomenon everytime I did a workout at home. Youtube ads in Japan are LONG, longer than in any
            other country in which I have lived or visited. Why Youtube? Because it's my home gym's robot DJ--
            I don't have to choose the track because of autoplay and often encounter new songs that work, plus there are no 
            worries about it being illegal. Anyway as every bro knows, in the middle of doing 40 handstand pushups or 100 crunches it's 
            quite out of the question to break the set and press the skip button on a 1 hour ad. Yes, in Japan there are Youtube 
            video tweener ads that exceed 1 hour and it's no joke. Like many other people I learned to live with it, though, as even
            before I got the Chrome ad skipper plugin at worse I'd just have to endure my set with the infomercial-style ad playing 
            and then have my music back for the next set.
        </p>
        <p class="blog">
            But learning to tolerate it didn't stop it from being a nuisance, and that's how I got an idea which became a plan, 
            a plan which became a project. As it happened, the Chrome plugin alone did not solve all my problems as I was also dealing 
            with Youtube's automatic pausing function that initiates after long periods of continuous play with no keyboard or mouse 
            input.
        </p>
        <p class="blog">
            People like me needed a solution that would do the following things:
        </p>
        <ol class="blog">
            <li>Play songs automatically - default autoplay</li>
            <li>Click the skip ad button automatically</li>
            <li>Allow for input when one was not physically at the computer (i.e. doing something else)</li>
        </ol>
        <p class="blog">
            And that's how I came up with <span><a href="https://github.com/adrianlee0118/workout_dj">workout_dj</a></span>, a
            desktop app that basically serves as a voice controller for Youtube. The Speech Recognition library for Python from Google
            is used to transcribe audio input from the microphone into instructions, which are used with Selenium to send commands
            to a web browser.
        </p>
        <img src="{{url_for('static', filename='workout_dj.PNG')}}" 
            alt="workout_dj screenshot"
            style="display:block;
                width: 60%;
                margin-left: auto;
                margin-right: auto;" >
        <br>
        <p class="blog">
            Latency is quite variable but it's not bad for a personal app and the voice commands are pretty nifty. The third party ad 
            skipper is a bit finicky though and so eventually I may have to write my own. For the future, it'd also be good to add a song 
            skipper/next song function. If you're reading this and you have Python 3, feel free to 
            <span><a href="https://github.com/adrianlee0118/workout_dj"><u>try it out</u></a></span>!
        </p>
        <p class="blog">
            If you don't have Python also feel free, but it may be a bit of an undertaking to install it and all the prerequisites 
            that are listed on the Github page :P.
        </p>
        <br>
    </div>
    <br>

    <div class="card">
        <h2><a name="Hikikomori">Hikikomori</a></h2>
        <h5>March 20, 2020</h5>
        <div class="img">
            <img src="{{ url_for('static', filename='third_party/images/cluttered_room.jpg') }}" alt="Cluttered Room">
        </div>
        <p class="blog">
            In a sad but perhaps not so sad alternate universe somewhere I guess being a shut-in, or as the Japanese say, a 
            <span style="font-style:italic">hikikomori</span> (引きこもり), could have been a reality for me even before COVID 19--in
            high school, I was relatively withdrawn and preferred to play videogames with my small all-male circle of friends, 
            and I wouldn't have missed a beat staying in on my computer for entire weekends as I do now. 
        </p>
        <p class="blog">
            My best school memory to this day continues to be the last day of school before the winter holidays one 
            year when my chemistry teacher showed the Simpsons movie, and then it started snowing outside at the same time 
            it was snowing in the movie--which was really blissful in a meta sort of way (i.e. Which pane is the window? Which 
            one is the TV?? OMG)--and afterschool we walked through the flurry to my friend's house nearby, ordered pizzas and 
            played Street Fighter and Metal Gear Solid while it snowed all night.
        </p>
        <p class="blog">
            It's amazing to me I ever had that much fun without a single drop of alcohol, and it's also amazing how previous 
            years' definition of a lazy bum has now become the paragon of the responsible adult in this period of heightened
            awareness. Since returning to Vancouver, BC from living abroad about 5 months ago luckily not much has changed for
            me due to social distancing--I've continued developing apps at home and the only real 
            difference is I don't see my friends physically anymore. We have changed up the way we meet like a lot of people
            have, and my new routine includes online Dungeons and Dragons once or twice a week and the occasional Jackbox gaming 
            session on Zoom or Netflix watch party :). Using the Roll20 virtual tabletop web app to play DnD has been pretty cool 
            because they've got a really extensive array of functions (DnD is a complex game) and an equally extensive API that 
            I'm really excited about. There's lots of opportunity to build new and interesting things!
        </p>

        <div>
            <img src="{{url_for('static', filename='dnd.jpg')}}" 
                alt="dnd"
                style="display:block;
                    width: 40%;
                    margin-left: auto;
                    margin-right: auto;" >
        </div>
        <br>

        <div id="images">
            <img class="sbs" src="{{url_for('static', filename='jackbox.jpg')}}" 
                alt="jackbox"
                 >
            <img class="sbs" src="{{url_for('static', filename='netflix_party.jpg')}}" 
                alt="netflix party" >
        </div>
        <br>

        <p class="blog">
            I think I'll be one of the last people to go insane during this period--I have a fair amount of experience with 
            isolation from working. However, I do know some people are struggling to adapt to working from home and that's a good
            reminder to myself to check that complacency by thinking up this not-going-crazy checklist:
        </p>
            <ul class="blog">
                <li>Make a detailed to-do list: chores, projects, errands and the maximum amount of time to be spent on each item--getting through stuff on this list will keep you on this side of sanity</li>
                <li>Start the day like an automaton: make your bed, open the window, dust off your desk--this will provide momentum for going through the to-do list</li>
                <li>Have an evening routine like a movie or ensuring you floss at 11PM--having a known, fixed endpoint to the day helps me manage my time during the day</li>
                <li>Keep a list of ideas of things to do if you're a bit listless: new things to cook, new things to build (super important for me), new things to try (i.e. cutting your own hair)</li>
                <li>Try to make choices ahead of time: movie choice, meal plan etc.--to avoid losing momentum</li>
                <li>Exercise--obviously</li>
                <li>Protect sleep habits--so that you're ready to go back to the office when things go back to normal</li>
            </ul>
        <p class="blog">
            I'm told that sobering thoughts are also a good way to help one maintain their composure--for example, if you are about 
            to cry at your own wedding, a good way to mitigate that is to think about how much the wedding costs. Notwithstanding the
            physical suffering that COVID has definitely caused, being able to worry about cabin fever instead of finances, which is 
            the case for me and most of my friends in North America, is a pretty fortunate circumstance to be in and better 
            than can be said of lots of folks around the world at the moment. I know some of my old teaching colleagues from 
            Japan and Korea and others in people-facing jobs will struggle and I think social distancing is definitely an 
            important step in eventually allowing people to resume their livelihoods as soon as possible.
        </p>
        <p class="blog">
            So STAY HOME and just as importanty stay healthy. If you really feel like you're about to turn into Jack Nicholson 
            in <span style="font-style:italic">The Shining</span> why not start a blog?
        </p>
        <br>
    </div>
{% endblock content %}