{% extends "layout.html" %} {% block content %}
<div>
  <h3 class="res_heading">EDUCATION</h3>
  <p>
    Kobe International Center - Continuing Studies in Japanese Language
    <span class="res_date">
      2018 - 2019
    </span>
  </p>
  <p>
    Langara College - Continuing Studies in Korean Language
    <span class="res_date">
      2015 - 2016
    </span>
  </p>
  <p>
    British Columbia Intitute of Technology - Continuing Studies in Social Media
    and Digital Marketing
    <span class="res_date">
      2015
    </span>
  </p>
  <p>
    The University of British Columbia - B.A.Sc. Civil Engineering
    <span class="res_date">
      2009 - 2014
    </span>
  </p>
  <p>
    The University of British Columbia - Science One Program
    <span class="res_date">
      2008 - 2009
    </span>
  </p>

  <h3 class="res_heading">EXPERIENCE</h3>
  <p>
    Software Developer &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company">Independent Projects</span>
    <span class="res_date">
      06.2019 - Present
    </span>
  </p>
  <p>
    English Teaching Contractor
  </p>
  <p style="margin-left: 70px;">
    Japan &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company"
      >Junior High Schools, Japan Air Self Defense Force, Kobe University</span
    >
    <span class="res_date">
      05.2017 - 08.2019
    </span>
  </p>
  <p style="margin-left: 70px;">
    South Korea &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company">YBM Education</span>
    <span class="res_date">
      04.2016 - 04.2017
    </span>
  </p>
  <p>
    Transportation Systems Engineer &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company">Parsons Corporation</span>
    <span class="res_date">
      04.2014 - 04.2016
    </span>
  </p>
  <p>
    Engineering Assistant &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company">Klohn Crippen Berger</span>
    <span class="res_date">
      01.2013 - 08.2013
    </span>
  </p>
  <p>
    Co-op Student &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company">Vanouver International Airport Authority</span>
    <span class="res_date">
      01.2013 - 08.2013
    </span>
  </p>
  <p>
    Co-op Student &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="res_company">SNC-Lavalin</span>
    <span class="res_date">
      04.2011 - 12.2011
    </span>
  </p>

  <h3 class="res_heading">CODE</h3>
  <p>C++, Java, Kotlin, Python, SQL</p>
  <p>Javascript, HTML, CSS</p>

  <h3 class="res_heading">HONORS</h3>
  <p>
    Frederick W. Coffin Scholarship
    <span class="res_date">
      2014
    </span>
  </p>
  <p>
    APEGBC Municipal Engineers Division (Curtis Memorial) Award in Civil
    Engineering
    <span class="res_date">
      2013
    </span>
  </p>
  <p>
    BC Hydro/APEGBC 4th Year Engineering and Geoscience Scholarship
    <span class="res_date">
      2013
    </span>
  </p>
  <p>
    University of British Columbia Trek Excellence Award
    <span class="res_date">
      2009 - 2010, 2013
    </span>
  </p>
  <p>
    Transportation Association of Canada Foundation Award: Dillon Scholarship
    <span class="res_date">
      2013
    </span>
  </p>
  <p>
    G.E. "Ted" Baynes Student Award
    <span class="res_date">
      2012
    </span>
  </p>
  <p>
    Richard Genest Memorial Service Award
    <span class="res_date">
      2011
    </span>
  </p>
  <p>
    McCuaig Engineering Student Scholarship
    <span class="res_date">
      2010
    </span>
  </p>
  <p>
    The University of British Columbia President's Entrance Scholarship
    <span class="res_date">
      2009
    </span>
  </p>
</div>
{% endblock content %}
