{% extends "layout.html" %}
{% block content %}
    <h1>Adrian Lee</h1>
    <div>
        <h3 class="quote">
            "Problems worthy of attack <br/> prove their worth by fighting back." &nbsp;&nbsp;
            <span style="font-style: normal;">
              -Piet Hein
            </span>
        </h3>
        <div class="content" style="padding-bottom: 20px;">
            <p>
                Some of the things I've been working on--if there is a hyperlink embedded in the heading, it will take you
                straight to the repository on Github.
            </p>
            <div class="line"></div>
        </div>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/invoice-editor">
                invoice-editor - app that calculates totals from editable line item quantities and prices (web app - front end design)
            </a>
        </h3>
        <p>
            A simple invoice editor made with ReactJS, Material UI and Redux, supported by Webpack and Babel. Redux reducers were 
            tested using Jest. The app allows users to add line items and calculates the subtotal, tax and total from the quantities 
            and prices of all items. The quantity and price properties of line items can be edited after they have been submitted. 
            Try the app  
            <span><a href="{{ url_for('invoice_editor') }}"><u>here</u></a></span>
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/declutter-android">
                declutter - cloud-hosted service for putting up and picking up used household items (android app)
            </a>
        </h3>
        <p>
            Android application that hosts free personal ads for donating furniture or other household items and also enables users
            to find ads for desired items by area. App written in Kotlin and data is stored in the cloud on Google's Firebase. Some 
            information regarding the motivation behind designing this app can be found in the  
            <span><a href="{{ url_for('blog', _anchor = 'One Man Garbage') }}"><u>related blog post</u></a></span>.
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/tictactoe-reactjs">
                tictactoe - web hosted game utilizing dynamic memory and rendering components from React JS (web app)
            </a>
        </h3>
        <p>
            A simple React web application for playing tic tac toe with another human. Dynamically stores game states to allow
            for undoing of one or multiple turns. Play the game  
            <span><a href="{{ url_for('tic_tac_toe') }}"><u>here</u></a></span>.
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/quantum-dice">
                quantum-dice - random number generator that leverages the power of quantum computers (web app)
            </a>
        </h3>
        <p>
            Web application that produces random numbers with optional Dungeons and Dragons style adjustments. Uses quantum
            computers that are available to the public from IBM's quantum computing division. The  
            <span><a href="{{ url_for('blog', _anchor = 'Randomness') }}"><u>related blog post</u></a></span> has some other 
            background information, and the app can be tried directly <span><a href="{{ url_for('quantum_dice') }}"><u>here</u></a></span>.
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/workout_dj">
                workout_dj - voice controller for youtube (desktop app)
            </a>
        </h3>
        <p>
            A simple desktop tool for controlling Youtube using voice commands through a miscrophone. Automatically skips ads
            and autoplays songs. Written in Python and uses Google's Speech Recognition library. Check out the related blog post
            <span><a href="{{ url_for('blog', _anchor = 'Cold Sweat') }}"><u>here</u></a></span>.
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/asiaeast">
                asiaeast - trip itinerary planner (android development)
            </a>
        </h3>
        <p>
            A mobile tool that groups location data by geographical proximity and presents it with Kotlin. 
            Queries a real-time Firebase Firestore database of geopoint data and outputs results to Google Calendar.
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/personal-website">
                personal website and blog (web development)
            </a>
        </h3>
        <p>
            This website! Built in Flask using Python with Bootstrap as indicated on the homepage. Hit the heading link for more details.
        </p>
        <br>

        <h3 class="proj_heading">
            <a href="https://github.com/adrianlee0118/structify">
                structify - college semester scheduler (android development)
            </a>
        </h3>
        <p>
            Mobile app in Java that generates study/work schedules for up to 8 simultaneous 
            courses over a college semester using course syllabi information. Renders a detailed Google Calendar-style GUI and
            outputs to Google Calendar.
        </p>
        <br>

        <h3 class="proj_heading">
            translation business website (web development) <br/>
        </h3>
        <p>
            A simple static website for a friend's Chinese/English translation business made with Flask framework for Python and a Bootstrap 4 front end.
        </p>
        <br>

        <h3 class="proj_heading">
            fastrecipe - online recipe finder (android development) <br/>
        </h3>
        <p>
            A simple mobile app that queries web address data stored in a SQLite database based on user inputs
            through a dynamic UI. Code based in Java.
        </p>
        <br>
    </div>
{% endblock content %}